
.movie {
  background: linear-gradient(rgba(30, 27, 38, 0.95), rgba(30, 27, 38, 0.95)),
    url('https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
.movie-card-container {
  cursor: pointer;
  width: 160px;
  height: 400px;
  background-color: #1e1b26;
  margin: 60px auto 0 auto;
  box-shadow: 5px 5px 115px -14px black;
  border-radius: 4px;
  color: white;


  .movie-text {
    padding: 0px 12px;
    text-align: justify;
    overflow: hidden;
    h2 {
      color: white;
    }
  }
  .movie-summary-row {
    h5 {
      color: white;
    }
    width: 98%;
  }
  .movie-likes {
    color: #fe4141;
    font-size: 14px;
    margin-right: 4px;
    position: relative;
    float: left;
    line-height: 1;
  }
}
